.t {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  bottom: 1pz solid rgb(229, 188, 188);
  background-color: rgb(239, 243, 244);
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.t-icon {
  width: 15px;
  height: 15px;
}

.button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(127, 105, 114);
  position: absolute;
  cursor: pointer;
}
